/* Inter Import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: "Inter", sans-serif;
		@apply mx-4;
	}

	a {
		@apply text-blue-500 underline hover:text-blue-700;
	}

	button,
	input,
	select {
		@apply text-blue-500 hover:text-blue-700;
	}
}
